.cart-wrapper {
	position: relative;
}

.cart-badge {
	position: absolute;
	top: 0;
	right: 0;
	background-color: red;
	color: white;
	font-size: 14px;
	padding: 4px 10px;
	border-radius: 50%;
	transform: translate(50%, -50%);
}
